@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden !important;
  width: 100%;
position: relative;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c8df0;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0D6DFF;
}


/* 🌊 Scroll estilizado e fino */
.scroll-thin::-webkit-scrollbar {
  height: 4px; /* altura do scroll horizontal */
  width: 6px;  /* largura do scroll vertical */
}

.scroll-thin::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: white;
 ;
}

.scroll-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
